@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');

:root{
    /*colors*/
    --PillCallDarkBlue: #121E44;
    --PillCallYellow: #FDB735;
    --PillCallGrey: #EEE7E1;
    /*--OffBlack:*/

    /*font weights*/
    --fw-black: 900;
    --fw-extrabold: 800;
    --fw-bold: 700;
    --fw-semibold: 600;
    --fw-regular: 400;
}

/*site wide styling*/
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: var(--fw-extrabold);
}

h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: var(--fw-bold);
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: var(--fw-semibold);
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: var(--fw-semibold);
}

h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: var(--fw-regular);
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: var(--fw-regular);
}

.blue-section{
    background-color: var(--PillCallDarkBlue);
    color: var(--PillCallGrey)
}

.styled-button{
    border: none;
    padding: .75rem 1rem .75rem 1rem;
    border-radius: 30px;
    background-color: var(--PillCallYellow);
    color: var(--PillCallDarkBlue);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: var(--fw-semibold);
    max-width: 30rem;
}

.styled-button:hover{
    background-color: var(--PillCallGrey);
}

.return-top:hover{
    opacity: 50%;
}

footer{
    background-color: var(--PillCallYellow);
}


/*Navigation*/

nav{
background-color: var(--PillCallDarkBlue);
}

nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px !important;
    font-weight: var(--fw-bold)!important;
}

nav a:hover {
   opacity: 50%;
}

.currentPage{
    background-color: var(--PillCallYellow);
    border-radius: 3em;
}

.currentPage a {
    color: var(--PillCallDarkBlue)!important;
    padding-right: 3em;
}

.navbar-toggler{
    border: 2px solid var(--PillCallYellow);
    margin-top: 2rem;
}

/*home page*/

/*addresses horizontal scroll*/
#hero-banner{
    max-width: 97vw;
}

#banner-spacer-home{
    background-color: var(--PillCallDarkBlue);
    position: relative;
    width: 50vw;
    height: 31.1rem;
    top: 5.9rem;
}

#youtube-contain{
    min-height: 40vh;
}

#youtube-container-full, #about-section-top, #get-started-top {
    background-image: url("assets/backgrounds/background-1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

#get-started-home{
    background-image: url("assets/backgrounds/background-2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.icons{
    height: 4rem;
}

.styled-text{
    color: var(--PillCallYellow);
    font-weight: var(--fw-semibold);
}


/*about*/
#expanded-bottle{
    max-height: 80vh;
}

/*get started*/
#get-started-bottom{
    background-image: url("assets/backgrounds/background-3.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

/*invest*/
#email-form label {
    clear: both;
    color: var(--PillCallGrey);
    display: block;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: var(--fw-regular);
}
#email-form input[type="text"],
#email-form textarea {
    border: none;
    background: white;
    color: var(--PillCallDarkBlue);
    display: block;
    overflow: auto;
    padding: 5px;
    width: 75vw;
    border-radius: 10px;
}

#email-form #name,
#email-form #name-label,
#email-form #email,
#email-form #email-label,
#email-form #umbrella,
#email-form #umbrella-label {
    display: none;
}
#email-form textarea {
    height: 80px;
}

input[type="submit"] {
    border: none;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 30px;
    background-color: var(--PillCallYellow);
    color: var(--PillCallDarkBlue);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: var(--fw-semibold);
    max-width: 30rem;
    cursor: pointer;
    margin-top: 3rem;
}
input[type="submit"]:hover {
    background-color: var(--PillCallGrey);
    color: var(--PillCallDarkBlue);
}

@media (max-width: 1200px) {
#banner-spacer-home{
    display: none;
}
}

@media (max-width: 991px) {
    #expanded-bottle {
        display: none!important;
    }
    #function-icons-vertical{
        display: none!important;
    }
    section{
        padding-right: 5rem;
        padding-left: 5rem;
    }
    .main-icon{
        justify-content: center;
    }
    .home-bottle{
        max-height: 30vh;
    }
}

@media (min-width: 992px) {
    #function-icons-horizontal{
        display: none!important;
    }
    section{
        padding-right: 9rem;
        padding-left: 9rem;
    }
}

@media (max-width: 576px){
    section{
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

